button {
    border: none;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}

select option {
    padding: 10px 20px;
    transition: 1s ease;
}

.options-box input {
    /* border: ; */
    outline: none;
}

.deleteInputIcon {
    cursor: pointer;
}

.active {
    background-color: rgb(34, 34, 59);
    color: white;
}

.options>button {
    margin: 10px 10px;
}