.login {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0px;
    /* background: url("https://picsum.photos/1200/900/?blur");
     */
    background-color: dodgerblue;
    background-size: cover;

    /* background: #de6161;
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161); */

    z-index: 101;
    height: 100vh;
    width: 100vw;
}

.login .content {}