.basic-grad {
    background: #24C6DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.warning {
    background: #e43a15;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cold {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.alarm {
    background: #EB3349;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.fade-in {
    opacity: 1;
    transition: 1s ease;
}

.fade-out {
    opacity: 0;
    transition: 1s ease;
}

.blank {
    display: none;
}